body {
  margin: 0;
  height: 100vh;
  background-image: url("images/Background.jpg");
  background-size: cover;        
  background-position: center;    
  background-repeat: no-repeat;  
  /*overflow:hidden*/ 
  display: flex;
  justify-content:center;  
  align-items: center; 
  margin-left:1rem ;
}
.container {
    background-color: rgb(240,248,255, 0.7);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 35%;    
    height: 90vh;
    display: grid;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);    
    text-align: center;
    
}
#listContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center ;  
  flex-direction: column;
  width: 15%; 
  height: 90vh;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#logo{
   width: 7rem;
   height: 7rem;
}
.home h1{
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
  color:#009ACD;    
}
#listContainer h1{
  padding: 1rem 0.5rem;
  font-size: 1.7rem;
  font-family: 'Rubik', sans-serif;
  color:#009ACD;
}
.home h3{
  font-size: 1.4rem;
  font-family: 'Rubik', sans-serif;
   margin: 0;
}
.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 70px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.task-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 20px;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.task-box:hover{
  transform: scale(1.1);
}
.task-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px; 
}
.task-top img {
  width: 3rem;
}
.task-top h2 {
  margin: 0;
  font-size: 2rem;
}
.tasks_text {     
  font-family: 'Rubik', sans-serif;
  text-align: left ;
  width: 100%;
}
.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;  
  gap: 15px; 
  margin-top: 15px;
}
.habit_lbl { 
  
  font-family: 'Rubik', sans-serif;
  text-align: center ;
  width: 100%;
  font-size: large;
  font-weight:500;
   
}
#habit_textbox {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: 'Rubik', sans-serif;
  text-align: center ;
  font-size: large;
  font-weight:500;
  border-radius: 10px;
  border: 1px solid gray;
  box-sizing: border-box;
}
#habit-select {    
  width: 255px;               
  margin: 0 auto;    
  padding: 0.5rem ;      
  font-family: 'Rubik', sans-serif;
  font-size: large;  
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid gray; 
  text-align: center;
  color: gray;
}
#frequency-select{
  font-family: 'Rubik', sans-serif;
  font-size: large;  
  font-weight: 500;
  padding: 4px;
  border: 0;
  background-color: transparent;
}
.radiobutton{
  display: flex;
  justify-content: space-between;
  width: 45%;
  gap: 1rem;
}
#habittxt{
  display: block;
  font-size: 1.5rem;  
  margin-top: 0.5rem;
  font-weight: 600;
}
input[type="checkbox"] {
  display: none;
}
.toggleSwitch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 999px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggleSwitch::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease;
}
input[type="checkbox"]:checked + .toggleSwitch {
  background-color: #4caf50;
}
input[type="checkbox"]:checked + .toggleSwitch::before {
  transform: translateX(20px);
}
.dateTimeInput input {
  margin-top: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid gray;
  width: 115px;
}
.add-habits{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px; 
}
#addBtn{
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;  
  border-radius: 999px;
  background: linear-gradient(to bottom right, #33BEE6, #009ACD);
  color: #f0f0f0;
  border: none;
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
#addBtn:hover{
  z-index: 0;
  box-shadow: 0 10px 100px #008cff;
  text-shadow: 0 0 10px #f0f0f0;
  scale: 1.1;
}
#resetBtn {
  background: transparent;
  border: none;
  color: #008cff;  
  font-size: large;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}
.habit-list{
   font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 600;  
  text-align: left;
}
.habit-list div{ 
   border: 2px solid gray; 
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 1rem;
  font-weight: 550;    
  margin: 0 0 10px 0;
  box-sizing: border-box;
  line-height: 1;
  
}


@media (max-width: 768px) {
body {  
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 100vh; 
  background-image: url("images/Background.jpg");
  background-size:cover;        
  background-position: center;    
  background-repeat: repeat-y;   
  display: flex;
  flex-direction: column;
  justify-content:center;  
  align-items: center; 

}
.container {
    background-color: rgb(240,248,255, 0.7);
    border-radius: 20px; 
    width: 100%;         
    max-width: 480px;    
    margin: 1rem auto;
    height: 80vh;
    display: grid;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);    
    text-align:center;
    gap: 1rem;
}
#listContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center ;  
  flex-direction: column;
  width: 100%;        
  overflow-y: auto;   
  max-width: 480px;    
  margin: 0 auto;   
  height: auto;
  border-radius: 0;
   
}
#logo{
   width: 4rem;
   height: 4rem;
   margin-top: 1rem;
}
.home h1{
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  color:#009ACD;    
}
#listContainer h1{
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
  color:#009ACD;
}
.home h3{
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
   margin: 0;
}
.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 70px;
 
}
.task-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 20px;
  width: 28vw;
  height: 5vh;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.task-box:hover{
  transform: scale(1.1);
}
.task-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px; 
}
.task-top img {
  width: 2rem;
}
.task-top h2 {
  margin: 0;
  font-size: 1.5rem;
}
.tasks_text {     
  font-family: 'Rubik', sans-serif;
  text-align: left ;
  width: 100%;
  font-size: 1rem;
}
.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;  
  gap: 15px; 
  margin-top: 15px;
}
.habit_lbl { 
  
  font-family: 'Rubik', sans-serif;
  text-align: center ;
  width: 96vw;
  font-size: large;
  font-weight:500;
   
}
#habit_textbox {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: 'Rubik', sans-serif;
  text-align: center ;
  font-size: large;
  font-weight:500;
  border-radius: 10px;
  border: 1px solid gray;
  box-sizing: border-box;
}
#habit-select {    
  width: 255px;               
  margin: 0 auto;    
  padding: 0.5rem ;      
  font-family: 'Rubik', sans-serif;
  font-size: large;  
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid gray; 
  text-align: center;
  color: gray;
}
#frequency-select{
  font-family: 'Rubik', sans-serif;
  font-size: large;  
  font-weight: 500;
  padding: 4px;
  border: 0;
  background-color: transparent;
}
.radiobutton{
  display: flex;
  justify-content: space-between;  
  width: 70vw;
  gap: 1rem;
}
#habittxt{
  display: block;
  font-size: 1.5rem;  
  margin-top: 0.5rem;
  font-weight: 600;
}
input[type="checkbox"] {
  display: none;
}
.toggleSwitch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 999px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggleSwitch::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease;
}
input[type="checkbox"]:checked + .toggleSwitch {
  background-color: #4caf50;
}
input[type="checkbox"]:checked + .toggleSwitch::before {
  transform: translateX(20px);
}
.dateTimeInput input {
  margin-top: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid gray;
  width: 115px;
}
.add-habits{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px; 
}
#addBtn{
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;  
  border-radius: 999px;
  background: linear-gradient(to bottom right, #33BEE6, #009ACD);
  color: #f0f0f0;
  border: none;
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
#addBtn:hover{
  z-index: 0;
  box-shadow: 0 10px 100px #008cff;
  text-shadow: 0 0 10px #f0f0f0;
  scale: 1.1;
}
#resetBtn {
  background: transparent;
  border: none;
  color: #008cff;  
  font-size: large;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}
.habit-list{
   font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 600;  
  text-align: left;
}
.habit-list div{ 
   border: 2px solid gray; 
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 1rem;
  font-weight: 550;    
  margin: 0 0 10px 0;
  box-sizing: border-box;
  line-height: 1;
  
}

}